body {
  background: #f4f6f8;
  font-family: Arial, sans-serif;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  background: white;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  font-size: 40px;
}

button {
  margin-left: 10px;
  padding: 8px 16px;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #4f46e5;
  color: white;
  
}

button:hover {
  background: #4338ca;
}
